/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* from 1024 to 1200px */

@media only screen and (max-width:1200px) {
    .row {
        padding: 0 2%;
    }

    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }   

    .long-para {
        width: 80%;
        margin-left: 10%;
    }
}

/* Small Tablet and Big Tablet from 768px to 1023px */

@media only screen and (max-width:1023px) {
    html {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .step-box:first-child {
        margin-top: 10px;
    }

     .step-box:last-child {
        margin-top: 10px;
    } 

    .works-step {
        margin-bottom: 40px;
    }

    .works-step:last-of-type {
        margin-bottom: 50px;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 20px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-price {
        font-size: 250%;
    }

    .content-form {
        width: 80%;
    }
}

/* Small Phone and Small Tablet from 481 to 767 */

@media only screen and (max-width:767px) {
    body{
        font-size: 16px;
    } 

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    } 

    .col {
        width: 100%;
        margin: 0 0 4% 0    ;
    }

    .main-nav {
        display: none;
    }

    .long-para {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .works-step div {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: 4px;
    }

    .works-step {
        margin-bottom: 20px;
    }

    .works-step:last-of-type {
        margin-bottom: 20px;
    }

    .step-box:first-child {
        text-align: center;
    }

    .app-screen {
        width: 40%;
    }
}

/* Small Phone from 0 to 480px */

@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }

    .content-form {
        width: 100%;
    }
}